<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      ,
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="shortcut icon"
      href="https://s3.amazonaws.com/files.ybot.chat/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="https://s3.amazonaws.com/files.ybot.chat/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://sco-public-access.s3.amazonaws.com/css/reset.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <title><%= htmlWebpackPlugin.options.WEB_TITLE %></title>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
